
# Created by https://www.toptal.com/developers/gitignore/api/orcad
# Edit at https://www.toptal.com/developers/gitignore?templates=orcad

### OrCAD ###
### Cadence Design Systm's OrCAD ###
*.dat
*.DSNlck
*.OLBlck
*.OBK
# End of https://www.toptal.com/developers/gitignore/api/orcad

